html {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Flex', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

:root {
    --ref-main: #f8f9fa;
    --ref-secondary: #f7f7f7;
    --ref-light: #ffffff;
    --ref-dark: black;
    --ref-tertiary: #1b72e8;
    --ref-details: #f26551;
    --ref-search: #e5e5e5;
}
img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

li:hover {
    cursor: pointer;
}
/* DEBUG */
/* .debug .app_main,
.debug .sidebar,
.debug .bottom,
.debug .top {
    border: 1px dashed;
} */

.debug .col-8,
.debug .col-4, 
.debug .row {
    border: 1px dashed;
    height: 100vh;
}

/* End DEBUG */

/* STRUCTURE */
.top {
    height: 80px;
    background-color: var(--ref-main);
}
.app_header { 
    width: 100%;
    background-color: white;
}

.bottom {
    height: calc(100vh - 80px);
}

.sidebar {height: 100%;
    width: 160px;
}

.app_main {
    flex-grow: 1;
}

/* UTILITIES */
/* HEADER */
.width_mobile {
    width: 50px;
}
/* SIDEBAR */
.sidebar {
    background-image: url("../img/sidebar-bg.png");
    background-repeat: no-repeat;
    background-color: #051e34;
    fill-opacity: 0.5;
}

.sidebar {
    color: var(--ref-light);
}



/* JUMBOTRON */
.text_white {
    color: white;
}

.jumbotron {
    background-color: var(--ref-tertiary);
}
/* MAIN */

/* TABLE */
.bg_code {
    padding: 10px;
    background-color: var(--ref-details);
    border-radius: 50%;
}
.fa-pen,
.fa-trash {
    border: 1px solid rgb(139, 139, 139);
    padding: 10px;
    border-radius: 5px;
    color: rgb(139, 139, 139);
}

/* Offcanvas */
.w_100 {
    width: 50% !important;
}

@media screen and (max-width: 767.98px) {
    .sidebar {
        width: fit-content;
    }

    .w_100 {
        width: 100% !important;
    }
}