html {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Flex', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

:root {
    --ref-main: #f8f9fa;
    --ref-secondary: #f7f7f7;
    --ref-light: #ffffff;
    --ref-dark: black;
    --ref-tertiary: #1b72e8;
    --ref-details: #f26551;
    --ref-search: #e5e5e5;
}